body, html {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%); 
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('../fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('../fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url('../fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('../fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('../fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('../fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url('../fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
}

.tg_wrap {
    min-height: 80vh;
    height: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tg_cont {
    width: 100%;
}

.text-center {
    text-align: center !important;
}
